node_red/ttn my sql dashboard/flows.json
[{"id":"81f0d929.9a6a68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5857e90a.862938","type":"ttn event","z":"81f0d929.9a6a68","name":"ttn event","app":"14d0a3af.6404ec","dev_id":"node_lorix","event":"#","x":360,"y":160,"wires":[["8e5ab817.d4f928"]]},{"id":"8e5ab817.d4f928","type":"debug","z":"81f0d929.9a6a68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":100,"wires":[]},{"id":"cb95cc5c.4a89d","type":"ttn uplink","z":"81f0d929.9a6a68","name":"ttn uplink","app":"14d0a3af.6404ec","dev_id":"node_lorix","field":"","x":350,"y":300,"wires":[["f2edf751.92f658","b0aaeb8c.1cf4c8"]]},{"id":"f2edf751.92f658","type":"debug","z":"81f0d929.9a6a68","name":"init","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"e38b4ead.c08cb","type":"function","z":"81f0d929.9a6a68","name":"","func":"var newMsg = { payload: msg.payload.payload};\nmsg.topic= \"INSERT INTO `tabela1`(`hora`, `data`, `texto`) VALUES (NOW(), NOW(), '\" + String(newMsg.payload)+ \"');\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":480,"wires":[["38b8449c.be97fc"]]},{"id":"50dda3e7.af7c84","type":"debug","z":"81f0d929.9a6a68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":480,"wires":[]},{"id":"38b8449c.be97fc","type":"mysql","z":"81f0d929.9a6a68","mydb":"c7ededcf.4fb67","name":"","x":710,"y":480,"wires":[["50dda3e7.af7c84"]]},{"id":"859b5e22.a5c4f","type":"comment","z":"81f0d929.9a6a68","name":"Ligação ao ttn","info":"# esta parte efetua a ligação ao servidor do ttn\n","x":400,"y":80,"wires":[]},{"id":"cdb8ded0.3afbc","type":"function","z":"81f0d929.9a6a68","name":"","func":"var freq = { payload: msg.metadata.frequency };\nvar channel = {payload: msg.metadata.gateways[0].channel};\nvar rssi = {payload: msg.metadata.gateways[0].rssi};\nvar snr = { payload: msg.metadata.gateways[0].snr};\nvar received = { payload: msg.payload.payload}\nreturn [ freq, channel, rssi, snr, received];","outputs":5,"noerr":0,"initialize":"","finalize":"","x":460,"y":840,"wires":[["11096f53.2204b1"],["28e65fe4.955d4","b828b109.0a29b"],["1841cb65.3c5805"],["e0817ebf.252f","ad39056a.f5b9d8"],["78c3bb8e.f6b554"]],"outputLabels":["freq","channel","rssi","snr",null]},{"id":"1841cb65.3c5805","type":"ui_chart","z":"81f0d929.9a6a68","name":"","group":"6a5e4849.fa2438","order":1,"width":0,"height":0,"label":"RSSI evolution","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":740,"wires":[[]]},{"id":"e0817ebf.252f","type":"ui_chart","z":"81f0d929.9a6a68","name":"","group":"f5bd972a.0c3418","order":1,"width":0,"height":0,"label":"SNR evolution","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":780,"wires":[[]]},{"id":"b0aaeb8c.1cf4c8","type":"link out","z":"81f0d929.9a6a68","name":"TTN output","links":["c68f6062.a545c","db71a2d7.5a8c7"],"x":495,"y":300,"wires":[]},{"id":"c68f6062.a545c","type":"link in","z":"81f0d929.9a6a68","name":"TTN output","links":["b0aaeb8c.1cf4c8"],"x":295,"y":480,"wires":[["e38b4ead.c08cb"]]},{"id":"db71a2d7.5a8c7","type":"link in","z":"81f0d929.9a6a68","name":"TTN output","links":["b0aaeb8c.1cf4c8"],"x":295,"y":840,"wires":[["cdb8ded0.3afbc"]]},{"id":"660856cf.e2b168","type":"comment","z":"81f0d929.9a6a68","name":"Database insert querry","info":"# esta parte envia a mensagem LoRa para a base de dados em localhost\n\n","x":440,"y":400,"wires":[]},{"id":"626f16b8.7c3798","type":"comment","z":"81f0d929.9a6a68","name":"Dashboard","info":"# esta parte efetua uma dashboard de monitorização com alguns dos dados recebidos\n\n","x":440,"y":660,"wires":[]},{"id":"11096f53.2204b1","type":"ui_text","z":"81f0d929.9a6a68","group":"483f3fca.8f668","order":1,"width":0,"height":0,"name":"freq","label":"Frequency operation:","format":"{{msg.payload}}","layout":"row-left","x":750,"y":620,"wires":[]},{"id":"28e65fe4.955d4","type":"ui_text","z":"81f0d929.9a6a68","group":"483f3fca.8f668","order":2,"width":0,"height":0,"name":"Channel","label":"Channel:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":660,"wires":[]},{"id":"b828b109.0a29b","type":"ui_text","z":"81f0d929.9a6a68","group":"483f3fca.8f668","order":2,"width":0,"height":0,"name":"RSSI value","label":"RSSI value on last mensage:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":700,"wires":[]},{"id":"ad39056a.f5b9d8","type":"ui_text","z":"81f0d929.9a6a68","group":"483f3fca.8f668","order":2,"width":0,"height":0,"name":"SNR value","label":"SNR value on last mensage:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":820,"wires":[]},{"id":"78c3bb8e.f6b554","type":"ui_text","z":"81f0d929.9a6a68","group":"483f3fca.8f668","order":2,"width":0,"height":0,"name":"message","label":"Last message received:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":860,"wires":[]},{"id":"14d0a3af.6404ec","type":"ttn app","appId":"node_lorix","accessKey":"ttn-account-v2.CsxFrzHXA8v1HwLkD6gAr0dIZ8yNEO_lsNRBI4G17bI","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"c7ededcf.4fb67","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"test","tz":"","charset":"UTF8"},{"id":"6a5e4849.fa2438","type":"ui_group","name":"RSSI","tab":"c75772e8.2a827","order":2,"disp":true,"width":10,"collapse":false},{"id":"f5bd972a.0c3418","type":"ui_group","name":"SNR","tab":"c75772e8.2a827","order":3,"disp":true,"width":10,"collapse":false},{"id":"483f3fca.8f668","type":"ui_group","name":"General info","tab":"c75772e8.2a827","order":1,"disp":true,"width":"6","collapse":false},{"id":"c75772e8.2a827","type":"ui_tab","name":"LoRa Monitoring system","icon":"dashboard","disabled":false,"hidden":false}]