node_red/sqlite3_beta_FG/flows1.json
[{"id":"c9017b5b.b57378","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5aabba4c.b81994","type":"ttn event","z":"c9017b5b.b57378","name":"ttn event zelarcb_mkr_2","app":"14d0a3af.6404ec","dev_id":"zelarcb_mkr_2","event":"#","x":300,"y":160,"wires":[["3535132c.0cb20c"]]},{"id":"3535132c.0cb20c","type":"debug","z":"c9017b5b.b57378","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":100,"wires":[]},{"id":"303ecade.0fee16","type":"ttn uplink","z":"c9017b5b.b57378","name":"ttn uplink zelarcb_mkr_2","app":"14d0a3af.6404ec","dev_id":"zelarcb_mkr_2","field":"","x":310,"y":300,"wires":[["1a34383f.659248","85e3b4b4.bbaac8"]]},{"id":"1a34383f.659248","type":"debug","z":"c9017b5b.b57378","name":"init","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"dbd52de3.e3bed","type":"function","z":"c9017b5b.b57378","name":"","func":"var message = {payload: msg.payload.payload};\nvar dev_id = {payload: msg.dev_id};\nvar app_id = {payload: msg.app_id};\nmsg.topic= \"INSERT INTO tabela1(app_id, dev_id, currentdate, currenttime, message) values('\" + String(app_id.payload) +\"','\"+ String(dev_id.payload) + \"',  date('now'), time('now'), \" + String(message.payload) + \")\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":480,"wires":[["7a6757f4.5174a8","a325dcb4.df631"]]},{"id":"429ebf07.bcf57","type":"debug","z":"c9017b5b.b57378","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":480,"wires":[]},{"id":"4f37ddad.a8d014","type":"comment","z":"c9017b5b.b57378","name":"Ligação ao ttn","info":"# esta parte efetua a ligação ao servidor do ttn\n","x":400,"y":80,"wires":[]},{"id":"be10cd67.b5414","type":"function","z":"c9017b5b.b57378","name":"","func":"var freq = { payload: msg.metadata.frequency };\nvar channel = {payload: msg.metadata.gateways[0].channel};\nvar rssi = {payload: msg.metadata.gateways[0].rssi};\nvar snr = { payload: msg.metadata.gateways[0].snr};\nvar received = { payload: msg.payload.payload}\nvar dev_id = { payload: msg.dev_id};\nreturn [ freq, channel, rssi, snr, received, dev_id];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":460,"y":840,"wires":[["cd03c278.911d4"],["6c5f1090.fc72a"],["909b86c3.e941d8","43f0f4b.c2db10c"],["4f589ac4.583364","fa97d525.f565b8"],["79152d10.01fae4"],["1c6ead32.d13473","93ff1a3.1d3d4e8","4901ea8d.e0ace4"]],"outputLabels":["freq","channel","rssi","snr","",null]},{"id":"909b86c3.e941d8","type":"ui_chart","z":"c9017b5b.b57378","name":"","group":"6a5e4849.fa2438","order":2,"width":0,"height":0,"label":"RSSI evolution","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":740,"wires":[[]]},{"id":"4f589ac4.583364","type":"ui_chart","z":"c9017b5b.b57378","name":"","group":"f5bd972a.0c3418","order":2,"width":0,"height":0,"label":"SNR evolution","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":780,"wires":[[]]},{"id":"85e3b4b4.bbaac8","type":"link out","z":"c9017b5b.b57378","name":"TTN output 2","links":["e8a4815c.5c2c9","c3657e13.f904b","c606717c.cc92"],"x":495,"y":300,"wires":[]},{"id":"c3657e13.f904b","type":"link in","z":"c9017b5b.b57378","name":"TTN output","links":["85e3b4b4.bbaac8"],"x":295,"y":480,"wires":[["dbd52de3.e3bed"]]},{"id":"e8a4815c.5c2c9","type":"link in","z":"c9017b5b.b57378","name":"TTN output","links":["85e3b4b4.bbaac8"],"x":295,"y":840,"wires":[["be10cd67.b5414"]]},{"id":"18440267.f38dde","type":"comment","z":"c9017b5b.b57378","name":"Database insert querry","info":"# esta parte envia a mensagem LoRa para a base de dados em localhost\n\n","x":280,"y":440,"wires":[]},{"id":"e968a833.273e48","type":"comment","z":"c9017b5b.b57378","name":"Dashboard","info":"# esta parte efetua uma dashboard de monitorização com alguns dos dados recebidos\n\n","x":420,"y":700,"wires":[]},{"id":"cd03c278.911d4","type":"ui_text","z":"c9017b5b.b57378","group":"483f3fca.8f668","order":2,"width":0,"height":0,"name":"freq","label":"Frequency operation:","format":"{{msg.payload}}","layout":"row-left","x":750,"y":620,"wires":[]},{"id":"6c5f1090.fc72a","type":"ui_text","z":"c9017b5b.b57378","group":"483f3fca.8f668","order":3,"width":0,"height":0,"name":"Channel","label":"Channel:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":660,"wires":[]},{"id":"43f0f4b.c2db10c","type":"ui_text","z":"c9017b5b.b57378","group":"483f3fca.8f668","order":4,"width":0,"height":0,"name":"RSSI value","label":"RSSI value on last mensage:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":700,"wires":[]},{"id":"fa97d525.f565b8","type":"ui_text","z":"c9017b5b.b57378","group":"483f3fca.8f668","order":5,"width":0,"height":0,"name":"SNR value","label":"SNR value on last mensage:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":820,"wires":[]},{"id":"79152d10.01fae4","type":"ui_text","z":"c9017b5b.b57378","group":"483f3fca.8f668","order":6,"width":0,"height":0,"name":"message","label":"Last message received:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":860,"wires":[]},{"id":"7a6757f4.5174a8","type":"sqlite","z":"c9017b5b.b57378","mydb":"5dbba89b.c8cbb8","sqlquery":"msg.topic","sql":"","name":"","x":700,"y":480,"wires":[["429ebf07.bcf57"]]},{"id":"b523216c.ed914","type":"inject","z":"c9017b5b.b57378","name":"CREATE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE tabela1(id INTEGER PRIMARY KEY AUTOINCREMENT, app_id TEXT, dev_id TEXT, currentdate DATE, currenttime TIME, message TEXT)","payload":"","payloadType":"date","x":620,"y":340,"wires":[["7a6757f4.5174a8"]]},{"id":"4c47c506.bb605c","type":"inject","z":"c9017b5b.b57378","name":"SELECT","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM tb2;","x":610,"y":400,"wires":[["7a6757f4.5174a8"]]},{"id":"a325dcb4.df631","type":"debug","z":"c9017b5b.b57378","name":"function","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":560,"wires":[]},{"id":"6a55cf0b.04ec7","type":"inject","z":"c9017b5b.b57378","name":"DELETE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DELETE from tb2","payload":"","payloadType":"date","x":430,"y":580,"wires":[["7a6757f4.5174a8"]]},{"id":"90a6ecb4.1c906","type":"inject","z":"c9017b5b.b57378","name":"DROP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE tb2","payload":"","payloadType":"date","x":440,"y":640,"wires":[["7a6757f4.5174a8"]]},{"id":"8c0140ee.583ad","type":"ttn event","z":"c9017b5b.b57378","name":"ttn event mkr1310aa","app":"14d0a3af.6404ec","dev_id":"mkr1310aa","event":"#","x":290,"y":240,"wires":[["b2138c76.6104b"]]},{"id":"51b0434.74312bc","type":"ttn uplink","z":"c9017b5b.b57378","name":"ttn uplink mkr1310aa","app":"14d0a3af.6404ec","dev_id":"mkr1310aa","field":"","x":290,"y":360,"wires":[["2ad6b33c.91eaec","7cd17776.44f548"]]},{"id":"b2138c76.6104b","type":"debug","z":"c9017b5b.b57378","name":"msg aa","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":160,"wires":[]},{"id":"2ad6b33c.91eaec","type":"debug","z":"c9017b5b.b57378","name":"init aa","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":280,"wires":[]},{"id":"f4aa00d8.ea3df","type":"function","z":"c9017b5b.b57378","name":"","func":"var freq = { payload: msg.metadata.frequency };\nvar channel = {payload: msg.metadata.gateways[0].channel};\nvar rssi = {payload: msg.metadata.gateways[0].rssi};\nvar snr = { payload: msg.metadata.gateways[0].snr};\nvar received = { payload: msg.payload.payload}\nvar dev_id = { payload: msg.dev_id};\nreturn [ freq, channel, rssi, snr, received, dev_id];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":460,"y":1200,"wires":[["828606de.25a498"],["e897d52b.ae40d8"],["1388e4bc.70fd6b","43d81454.500d0c"],["ffda8121.067","99efb46.9940148"],["8d06c58e.f318a8"],["de86689f.fe0ab8","6aacb89.7e33f48","d576272a.bac1e8"]],"outputLabels":["freq","channel","rssi","snr","",null]},{"id":"329bf7da.9bba78","type":"link in","z":"c9017b5b.b57378","name":"","links":["7cd17776.44f548"],"x":295,"y":1200,"wires":[["f4aa00d8.ea3df"]]},{"id":"7cd17776.44f548","type":"link out","z":"c9017b5b.b57378","name":"TTN output aa","links":["329bf7da.9bba78","c0a9bc60.0ec61"],"x":425,"y":400,"wires":[]},{"id":"1388e4bc.70fd6b","type":"ui_chart","z":"c9017b5b.b57378","name":"","group":"6a5e4849.fa2438","order":5,"width":0,"height":0,"label":"RSSI evolution2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":1140,"wires":[[]]},{"id":"ffda8121.067","type":"ui_chart","z":"c9017b5b.b57378","name":"","group":"f5bd972a.0c3418","order":5,"width":0,"height":0,"label":"SNR evolution2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":1180,"wires":[[]]},{"id":"828606de.25a498","type":"ui_text","z":"c9017b5b.b57378","group":"483f3fca.8f668","order":9,"width":0,"height":0,"name":"freq2","label":"Frequency operation:","format":"{{msg.payload}}","layout":"row-left","x":750,"y":1020,"wires":[]},{"id":"e897d52b.ae40d8","type":"ui_text","z":"c9017b5b.b57378","group":"483f3fca.8f668","order":10,"width":0,"height":0,"name":"Channel2","label":"Channel:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":1060,"wires":[]},{"id":"43d81454.500d0c","type":"ui_text","z":"c9017b5b.b57378","group":"483f3fca.8f668","order":11,"width":0,"height":0,"name":"RSSI value2","label":"RSSI value on last mensage:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":1100,"wires":[]},{"id":"99efb46.9940148","type":"ui_text","z":"c9017b5b.b57378","group":"483f3fca.8f668","order":12,"width":0,"height":0,"name":"SNR value2","label":"SNR value on last mensage:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":1220,"wires":[]},{"id":"8d06c58e.f318a8","type":"ui_text","z":"c9017b5b.b57378","group":"483f3fca.8f668","order":13,"width":0,"height":0,"name":"message2","label":"Last message received:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":1260,"wires":[]},{"id":"1c6ead32.d13473","type":"ui_text","z":"c9017b5b.b57378","group":"483f3fca.8f668","order":1,"width":0,"height":0,"name":"dev_id1","label":"dev_id:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":900,"wires":[]},{"id":"de86689f.fe0ab8","type":"ui_text","z":"c9017b5b.b57378","group":"483f3fca.8f668","order":8,"width":0,"height":0,"name":"dev_id2","label":"dev_id:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":1300,"wires":[]},{"id":"6aacb89.7e33f48","type":"ui_text","z":"c9017b5b.b57378","group":"6a5e4849.fa2438","order":4,"width":0,"height":0,"name":"dev_id22","label":"dev_id:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":1360,"wires":[]},{"id":"93ff1a3.1d3d4e8","type":"ui_text","z":"c9017b5b.b57378","group":"6a5e4849.fa2438","order":1,"width":0,"height":0,"name":"dev_id11","label":"dev_id:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":940,"wires":[]},{"id":"4901ea8d.e0ace4","type":"ui_text","z":"c9017b5b.b57378","group":"f5bd972a.0c3418","order":1,"width":0,"height":0,"name":"dev_id111","label":"dev_id:","format":"{{msg.payload}}","layout":"row-left","x":900,"y":900,"wires":[]},{"id":"d576272a.bac1e8","type":"ui_text","z":"c9017b5b.b57378","group":"f5bd972a.0c3418","order":4,"width":0,"height":0,"name":"dev_id222","label":"dev_id:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":1400,"wires":[]},{"id":"ad392662.f01268","type":"function","z":"c9017b5b.b57378","name":"","func":"\n\nvar dev_id = {payload: msg.dev_id};\nvar app_id = {payload: msg.app_id};\n\nreturn [ dev_id, app_id];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":60,"y":1280,"wires":[["daf0e963.c426b8"],["daf0e963.c426b8"]],"outputLabels":["freq","channel"]},{"id":"c606717c.cc92","type":"link in","z":"c9017b5b.b57378","name":"TTN output","links":["85e3b4b4.bbaac8"],"x":95,"y":1120,"wires":[["ad392662.f01268"]]},{"id":"daf0e963.c426b8","type":"debug","z":"c9017b5b.b57378","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":1280,"wires":[]},{"id":"c0a9bc60.0ec61","type":"link in","z":"c9017b5b.b57378","name":"","links":["7cd17776.44f548"],"x":295,"y":540,"wires":[["dbd52de3.e3bed"]]},{"id":"14d0a3af.6404ec","type":"ttn app","appId":"zelar_cb","accessKey":"ttn-account-v2.US3aL_ET_bphR_K3QGhnTNuqGX9Cw36rLX-HAqru_G0","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"6a5e4849.fa2438","type":"ui_group","name":"RSSI","tab":"c75772e8.2a827","order":2,"disp":true,"width":10,"collapse":false},{"id":"f5bd972a.0c3418","type":"ui_group","name":"SNR","tab":"c75772e8.2a827","order":3,"disp":true,"width":10,"collapse":false},{"id":"483f3fca.8f668","type":"ui_group","name":"General info","tab":"c75772e8.2a827","order":1,"disp":true,"width":"6","collapse":false},{"id":"5dbba89b.c8cbb8","type":"sqlitedb","db":"db.db","mode":"RWC"},{"id":"c75772e8.2a827","type":"ui_tab","name":"LoRa Monitoring system","icon":"dashboard","disabled":false,"hidden":false}]