node_red/sqlite3_beta_rd/flows .json
[{"id":"a720ec32.00221","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c5de8209.98d3","type":"ttn event","z":"a720ec32.00221","name":"ttn event zelarcb_mkr_2","app":"14d0a3af.6404ec","dev_id":"zelarcb_mkr_2","event":"#","x":300,"y":160,"wires":[["62aec078.12495"]]},{"id":"62aec078.12495","type":"debug","z":"a720ec32.00221","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":100,"wires":[]},{"id":"fa331aba.8be3a8","type":"ttn uplink","z":"a720ec32.00221","name":"ttn uplink zelarcb_mkr_2","app":"14d0a3af.6404ec","dev_id":"zelarcb_mkr_2","field":"","x":310,"y":300,"wires":[["6d96edea.a95fb4","d09b04c1.b75388"]]},{"id":"6d96edea.a95fb4","type":"debug","z":"a720ec32.00221","name":"init","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"3925f75d.c77188","type":"function","z":"a720ec32.00221","name":"","func":"\nvar newMsg = { payload: msg.payload.payload};\nvar dev_id = {payload: msg.dev_id};\nvar app_id = {payload: msg.app_id};\n//msg.topic= \"INSERT INTO `tabela1` ( `dev_id` , `app_id` ,`hora`, `data`, `texto`) VALUES ('\"+ String(dev_id.payload) + \"','\" + String(app_id.payload)+ \"',\" +  \"NOW(), NOW(),\" + \"'\"+ String(newMsg.payload)+ \"');\";\n//msg.topic= \"INSERT INTO tabela2(dev_id, app_id ,data, hora, text) VALUES (\" + String(dev_id.payload) + \",\" + String(app_id.payload)+ \",NOW(), NOW(),\" + String(newMsg.payload)+ \")\";\nvar topic= \"INSERT INTO tb2(dev_id, app_id, data, hora, text) values(\" + String(dev_id.payload) + \", \" + String(app_id.payload)+ ', date(\\'now\\'), time(\\'now\"\\'), ' + newMsg.payload + \")\";\nvar msg1={};\nmsg1.topic = topic;\nreturn msg1;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":480,"wires":[["d7a56827.fe1268","bbe33eaf.9eefb"]]},{"id":"2906aa.34438956","type":"debug","z":"a720ec32.00221","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":480,"wires":[]},{"id":"6557acb9.512be4","type":"comment","z":"a720ec32.00221","name":"Ligação ao ttn","info":"# esta parte efetua a ligação ao servidor do ttn\n","x":400,"y":80,"wires":[]},{"id":"c7d57745.900a68","type":"function","z":"a720ec32.00221","name":"","func":"var freq = { payload: msg.metadata.frequency };\nvar channel = {payload: msg.metadata.gateways[0].channel};\nvar rssi = {payload: msg.metadata.gateways[0].rssi};\nvar snr = { payload: msg.metadata.gateways[0].snr};\nvar received = { payload: msg.payload.payload}\nvar dev_id = { payload: msg.dev_id};\nreturn [ freq, channel, rssi, snr, received, dev_id];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":460,"y":840,"wires":[["96316009.ec315"],["2fc06c04.3a0474"],["2ac6b914.253d06","a5717039.5ad01"],["9a9e1291.bc8f8","4a2e71d.22d9b9"],["c0ed36c2.bcf4d8"],["89e3f1ff.2d06e","b8368790.91d9e8","29187212.3bf89e"]],"outputLabels":["freq","channel","rssi","snr","",null]},{"id":"2ac6b914.253d06","type":"ui_chart","z":"a720ec32.00221","name":"","group":"6a5e4849.fa2438","order":2,"width":0,"height":0,"label":"RSSI evolution","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":740,"wires":[[]]},{"id":"9a9e1291.bc8f8","type":"ui_chart","z":"a720ec32.00221","name":"","group":"f5bd972a.0c3418","order":2,"width":0,"height":0,"label":"SNR evolution","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":780,"wires":[[]]},{"id":"d09b04c1.b75388","type":"link out","z":"a720ec32.00221","name":"TTN output 2","links":["23593e93.c56fd2","bab66be1.abfa98","da6781f4.64ea9"],"x":495,"y":300,"wires":[]},{"id":"bab66be1.abfa98","type":"link in","z":"a720ec32.00221","name":"TTN output","links":["d09b04c1.b75388"],"x":295,"y":480,"wires":[["3925f75d.c77188"]]},{"id":"23593e93.c56fd2","type":"link in","z":"a720ec32.00221","name":"TTN output","links":["d09b04c1.b75388"],"x":295,"y":840,"wires":[["c7d57745.900a68"]]},{"id":"2ab5e167.8b3bee","type":"comment","z":"a720ec32.00221","name":"Database insert querry","info":"# esta parte envia a mensagem LoRa para a base de dados em localhost\n\n","x":280,"y":440,"wires":[]},{"id":"b845f963.99fed8","type":"comment","z":"a720ec32.00221","name":"Dashboard","info":"# esta parte efetua uma dashboard de monitorização com alguns dos dados recebidos\n\n","x":420,"y":700,"wires":[]},{"id":"96316009.ec315","type":"ui_text","z":"a720ec32.00221","group":"483f3fca.8f668","order":2,"width":0,"height":0,"name":"freq","label":"Frequency operation:","format":"{{msg.payload}}","layout":"row-left","x":750,"y":620,"wires":[]},{"id":"2fc06c04.3a0474","type":"ui_text","z":"a720ec32.00221","group":"483f3fca.8f668","order":3,"width":0,"height":0,"name":"Channel","label":"Channel:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":660,"wires":[]},{"id":"a5717039.5ad01","type":"ui_text","z":"a720ec32.00221","group":"483f3fca.8f668","order":4,"width":0,"height":0,"name":"RSSI value","label":"RSSI value on last mensage:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":700,"wires":[]},{"id":"4a2e71d.22d9b9","type":"ui_text","z":"a720ec32.00221","group":"483f3fca.8f668","order":5,"width":0,"height":0,"name":"SNR value","label":"SNR value on last mensage:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":820,"wires":[]},{"id":"c0ed36c2.bcf4d8","type":"ui_text","z":"a720ec32.00221","group":"483f3fca.8f668","order":6,"width":0,"height":0,"name":"message","label":"Last message received:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":860,"wires":[]},{"id":"d7a56827.fe1268","type":"sqlite","z":"a720ec32.00221","mydb":"5dbba89b.c8cbb8","sqlquery":"msg.topic","sql":"","name":"","x":700,"y":480,"wires":[["2906aa.34438956"]]},{"id":"d2884f8b.adada","type":"inject","z":"a720ec32.00221","name":"CREATE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE tb2(id INTEGER PRIMARY KEY AUTOINCREMENT, dev_id TEXT, app_id TEXT, data DATE, hora TIME, text TEXT)","payload":"","payloadType":"date","x":620,"y":340,"wires":[["d7a56827.fe1268"]]},{"id":"3ec66e78.97d082","type":"inject","z":"a720ec32.00221","name":"SELECT","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM tb2;","x":610,"y":400,"wires":[["d7a56827.fe1268"]]},{"id":"bbe33eaf.9eefb","type":"debug","z":"a720ec32.00221","name":"function","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":560,"wires":[]},{"id":"c30b8e8c.9a2e4","type":"inject","z":"a720ec32.00221","name":"DELETE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DELETE from tb2","payload":"","payloadType":"date","x":430,"y":580,"wires":[["d7a56827.fe1268"]]},{"id":"9a10d1c6.56aa7","type":"inject","z":"a720ec32.00221","name":"DROP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE tb2","payload":"","payloadType":"date","x":440,"y":640,"wires":[["d7a56827.fe1268"]]},{"id":"436d1035.a95a9","type":"ttn event","z":"a720ec32.00221","name":"ttn event mkr1310aa","app":"14d0a3af.6404ec","dev_id":"mkr1310aa","event":"#","x":290,"y":240,"wires":[["86c9d4d0.cde0c8"]]},{"id":"ad8ee6ea.390878","type":"ttn uplink","z":"a720ec32.00221","name":"ttn uplink mkr1310aa","app":"14d0a3af.6404ec","dev_id":"mkr1310aa","field":"","x":290,"y":360,"wires":[["b97c6d24.bd18c","bf8038a8.2fe858"]]},{"id":"86c9d4d0.cde0c8","type":"debug","z":"a720ec32.00221","name":"msg aa","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":160,"wires":[]},{"id":"b97c6d24.bd18c","type":"debug","z":"a720ec32.00221","name":"init aa","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":280,"wires":[]},{"id":"1c6d3448.94b74c","type":"function","z":"a720ec32.00221","name":"","func":"var freq = { payload: msg.metadata.frequency };\nvar channel = {payload: msg.metadata.gateways[0].channel};\nvar rssi = {payload: msg.metadata.gateways[0].rssi};\nvar snr = { payload: msg.metadata.gateways[0].snr};\nvar received = { payload: msg.payload.payload}\nvar dev_id = { payload: msg.dev_id};\nreturn [ freq, channel, rssi, snr, received, dev_id];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":460,"y":960,"wires":[["ccf10987.efad88"],["b73f445b.047c28"],["59bc9c2c.f2dee4","b0c24f96.67bcb"],["5693dd62.0781e4","2c9ca457.96bbec"],["5a241b8d.9b58b4"],["e98fda74.a723a8","999c6df4.47507","e043b4e2.f9d038"]],"outputLabels":["freq","channel","rssi","snr","",null]},{"id":"f01aceaa.276fb","type":"link in","z":"a720ec32.00221","name":"","links":["bf8038a8.2fe858"],"x":295,"y":960,"wires":[["1c6d3448.94b74c"]]},{"id":"bf8038a8.2fe858","type":"link out","z":"a720ec32.00221","name":"TTN output aa","links":["f01aceaa.276fb"],"x":425,"y":400,"wires":[]},{"id":"59bc9c2c.f2dee4","type":"ui_chart","z":"a720ec32.00221","name":"","group":"6a5e4849.fa2438","order":5,"width":0,"height":0,"label":"RSSI evolution2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":1080,"wires":[[]]},{"id":"5693dd62.0781e4","type":"ui_chart","z":"a720ec32.00221","name":"","group":"f5bd972a.0c3418","order":5,"width":0,"height":0,"label":"SNR evolution2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":1120,"wires":[[]]},{"id":"ccf10987.efad88","type":"ui_text","z":"a720ec32.00221","group":"483f3fca.8f668","order":9,"width":0,"height":0,"name":"freq2","label":"Frequency operation:","format":"{{msg.payload}}","layout":"row-left","x":750,"y":960,"wires":[]},{"id":"b73f445b.047c28","type":"ui_text","z":"a720ec32.00221","group":"483f3fca.8f668","order":10,"width":0,"height":0,"name":"Channel2","label":"Channel:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":1000,"wires":[]},{"id":"b0c24f96.67bcb","type":"ui_text","z":"a720ec32.00221","group":"483f3fca.8f668","order":11,"width":0,"height":0,"name":"RSSI value2","label":"RSSI value on last mensage:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":1040,"wires":[]},{"id":"2c9ca457.96bbec","type":"ui_text","z":"a720ec32.00221","group":"483f3fca.8f668","order":12,"width":0,"height":0,"name":"SNR value2","label":"SNR value on last mensage:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":1160,"wires":[]},{"id":"5a241b8d.9b58b4","type":"ui_text","z":"a720ec32.00221","group":"483f3fca.8f668","order":13,"width":0,"height":0,"name":"message2","label":"Last message received:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":1200,"wires":[]},{"id":"89e3f1ff.2d06e","type":"ui_text","z":"a720ec32.00221","group":"483f3fca.8f668","order":1,"width":0,"height":0,"name":"dev_id1","label":"dev_id:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":900,"wires":[]},{"id":"e98fda74.a723a8","type":"ui_text","z":"a720ec32.00221","group":"483f3fca.8f668","order":8,"width":0,"height":0,"name":"dev_id2","label":"dev_id:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":1240,"wires":[]},{"id":"999c6df4.47507","type":"ui_text","z":"a720ec32.00221","group":"6a5e4849.fa2438","order":4,"width":0,"height":0,"name":"dev_id22","label":"dev_id:","format":"{{msg.payload}}","layout":"row-left","x":760,"y":1300,"wires":[]},{"id":"b8368790.91d9e8","type":"ui_text","z":"a720ec32.00221","group":"6a5e4849.fa2438","order":1,"width":0,"height":0,"name":"dev_id11","label":"dev_id:","format":"{{msg.payload}}","layout":"row-left","x":880,"y":940,"wires":[]},{"id":"29187212.3bf89e","type":"ui_text","z":"a720ec32.00221","group":"f5bd972a.0c3418","order":1,"width":0,"height":0,"name":"dev_id111","label":"dev_id:","format":"{{msg.payload}}","layout":"row-left","x":900,"y":900,"wires":[]},{"id":"e043b4e2.f9d038","type":"ui_text","z":"a720ec32.00221","group":"f5bd972a.0c3418","order":4,"width":0,"height":0,"name":"dev_id222","label":"dev_id:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":1340,"wires":[]},{"id":"c03b8c13.00215","type":"function","z":"a720ec32.00221","name":"","func":"\n\nvar dev_id = {payload: msg.dev_id};\nvar app_id = {payload: msg.app_id};\n\nreturn [ dev_id, app_id];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":240,"y":1120,"wires":[["8be0826.bb53a8"],["8be0826.bb53a8"]],"outputLabels":["freq","channel","rssi","snr","",""]},{"id":"da6781f4.64ea9","type":"link in","z":"a720ec32.00221","name":"TTN output","links":["d09b04c1.b75388"],"x":95,"y":1120,"wires":[["c03b8c13.00215"]]},{"id":"8be0826.bb53a8","type":"debug","z":"a720ec32.00221","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":1120,"wires":[]},{"id":"14d0a3af.6404ec","type":"ttn app","appId":"zelar_cb","accessKey":"ttn-account-v2.US3aL_ET_bphR_K3QGhnTNuqGX9Cw36rLX-HAqru_G0","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"6a5e4849.fa2438","type":"ui_group","name":"RSSI","tab":"c75772e8.2a827","order":2,"disp":true,"width":10,"collapse":false},{"id":"f5bd972a.0c3418","type":"ui_group","name":"SNR","tab":"c75772e8.2a827","order":3,"disp":true,"width":10,"collapse":false},{"id":"483f3fca.8f668","type":"ui_group","name":"General info","tab":"c75772e8.2a827","order":1,"disp":true,"width":"6","collapse":false},{"id":"5dbba89b.c8cbb8","type":"sqlitedb","db":"db.db","mode":"RWC"},{"id":"c75772e8.2a827","type":"ui_tab","name":"LoRa Monitoring system","icon":"dashboard","disabled":false,"hidden":false}]