node_red/old flows/node_red.json
[{"id":"c8bf2797.e940e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d2546d04.461b","type":"inject","z":"c8bf2797.e940e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":"4","topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[["f75cfc07.93f12"]]},{"id":"9a41f35b.120ab","type":"debug","z":"c8bf2797.e940e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":180,"wires":[]},{"id":"f75cfc07.93f12","type":"openweathermap","z":"c8bf2797.e940e8","name":"Node_Red","wtype":"current","lon":"","lat":"","city":"london","country":"UK","language":"en","x":390,"y":180,"wires":[["6ccea05c.769fb","61bb0ad9.74a414","3e96b8c6.2036b8"]]},{"id":"6ccea05c.769fb","type":"function","z":"c8bf2797.e940e8","name":"Temperature","func":"var T;\nT = msg.payload.tempc;\nmsg.payload = \"current temperature = \" +T+ \" Degrees C\"; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":180,"wires":[["9a41f35b.120ab"]]},{"id":"61bb0ad9.74a414","type":"debug","z":"c8bf2797.e940e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":260,"wires":[]},{"id":"68011502.984c3c","type":"ui_gauge","z":"c8bf2797.e940e8","name":"","group":"f0883c2d.337aa","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":80,"wires":[]},{"id":"3e96b8c6.2036b8","type":"function","z":"c8bf2797.e940e8","name":"Temperature","func":"var T;\nT = msg.payload.tempc;\nmsg.payload = T; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":100,"wires":[["68011502.984c3c","b701e2df.dc319"]]},{"id":"b701e2df.dc319","type":"debug","z":"c8bf2797.e940e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":40,"wires":[]},{"id":"f0883c2d.337aa","type":"ui_group","z":"","name":"Default","tab":"8db11646.688c58","order":1,"disp":true,"width":"6","collapse":false},{"id":"8db11646.688c58","type":"ui_tab","z":"","name":"Meteo","icon":"dashboard","disabled":false,"hidden":false}]